# Dependencies
node_modules/
package-lock.json

# Database
*.sqlite
*.db

# Environment variables
.env
.env.local

# Build outputs
build/
dist/

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Cypress
cypress/videos/
cypress/screenshots/
